<p id="notice"><%= notice %></p>

<h1>Listing Sections</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Votos</th>
      <th>Factor</th>
      <th>Factor P/P</th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.name %></td>
        <td><%= "#{section.show_vote_ratio} (#{section.vote_percent}%)" %></td>
        <td><%= section.factor.round(4) %></td>
        <td><%= section.factor_pp.round(4) %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>
