<h1>Activist Imports</h1>

<%= form_for @activist_import do |f| %>
  <% if @activist_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activist_import.errors.count, "error") %>
        prohibited this import from completing:</h2>
      <ul>
        <% @activist_import.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>